################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DogBot/DogBot/obj/Debug/netcoreapp3.1/apphost.exe
/DogBot/.vs/DogBot/FileContentIndex/28985d46-b332-46e4-ba8c-5b2272118837.vsidx
/DogBot/.vs/DogBot/FileContentIndex/6aa51602-241a-40f2-98f7-774a67334d3a.vsidx
/DogBot/.vs/DogBot/FileContentIndex/8506759f-4c3c-4f38-90e2-118c8254ee62.vsidx
/DogBot/.vs/DogBot/FileContentIndex/e1b4c824-faf5-45b3-b932-7d04f1044eef.vsidx
/DogBot/.vs/DogBot/DesignTimeBuild/.dtbcache.v2
*.vsidx
/DogBot/.vs/DogBot/v17/.suo
/DogBot/.vs/DogBot/config
*.v2
*.bin
/DogBot/DogBot/bin/Debug/netcoreapp3.1/dialogs/emptyBot/knowledge-base/en-us/emptyBot.en-us.qna
/DogBot/DogBot/bin/Debug/netcoreapp3.1/knowledge-base/en-us/DogBot.en-us.qna
/DogBot/DogBot/bin/Debug/netcoreapp3.1/language-generation/en-us/common.en-us.lg
/DogBot/DogBot/bin/Debug/netcoreapp3.1/language-generation/en-us/DogBot.en-us.lg
/DogBot/DogBot/bin/Debug/netcoreapp3.1/language-understanding/en-us/DogBot.en-us.lu
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/System.Drawing.Common.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Security.Cryptography.Cng.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Security.Cryptography.Pkcs.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Drawing.Common.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Windows.Extensions.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.AccessControl.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Cosmos.CRTCompat.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Azure.Cosmos.ServiceInterop.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/msvcp140.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/vcruntime140.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/vcruntime140_1.dll
/DogBot/DogBot/bin/Debug/netcoreapp3.1/scripts/DeploymentTemplates/function-template-with-preexisting-rg.json
/DogBot/DogBot/bin/Debug/netcoreapp3.1/scripts/DeploymentTemplates/new-rg-parameters.json
/DogBot/DogBot/bin/Debug/netcoreapp3.1/scripts/DeploymentTemplates/preexisting-rg-parameters.json
/DogBot/DogBot/bin/Debug/netcoreapp3.1/scripts/DeploymentTemplates/qna-template.json
/DogBot/DogBot/bin/Debug/netcoreapp3.1/scripts/DeploymentTemplates/template-with-new-rg.json
/DogBot/DogBot/bin/Debug/netcoreapp3.1/scripts/DeploymentTemplates/template-with-preexisting-rg.json
/DogBot/DogBot/bin/Debug/netcoreapp3.1/scripts/package.json
/DogBot/.vs/DogBot/FileContentIndex/82d9a818-efe7-4c53-af2a-c781d0391061.vsidx
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.Messages.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/appsettings.json
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Azure.Core.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Azure.Identity.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Azure.Storage.Blobs.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Azure.Storage.Common.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/FluentAssertions.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Binder.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.CommandLine.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Json.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Configuration.UserSecrets.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Physical.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.FileSystemGlobbing.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Hosting.Abstractions.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Hosting.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.Configuration.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.Console.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.Debug.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.EventLog.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Logging.EventSource.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Identity.Client.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/StorageAccountAccessTest.deps.json
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/StorageAccountAccessTest.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/StorageAccountAccessTest.exe
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/StorageAccountAccessTest.pdb
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/StorageAccountAccessTest.runtimeconfig.json
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/System.Diagnostics.EventLog.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/System.IO.Hashing.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/System.Memory.Data.dll
/DogBot/StorageAccountAccessTest/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/DogBot/StorageAccountAccessTest/obj
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/apphost.exe
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/ref
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/ref/StorageAccountAccessTest.dll
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/refint
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/refint/StorageAccountAccessTest.dll
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.AssemblyInfo.cs
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.AssemblyInfoInputs.cache
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.assets.cache
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.csproj.AssemblyReference.cache
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.csproj.BuildWithSkipAnalyzers
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.csproj.CopyComplete
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.csproj.CoreCompileInputs.cache
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.csproj.FileListAbsolute.txt
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.dll
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.GeneratedMSBuildEditorConfig.editorconfig
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.genruntimeconfig.cache
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.GlobalUsings.g.cs
/DogBot/StorageAccountAccessTest/obj/Debug/net7.0/StorageAccountAccessTest.pdb
/DogBot/StorageAccountAccessTest/obj/project.assets.json
/DogBot/StorageAccountAccessTest/obj/project.nuget.cache
/DogBot/StorageAccountAccessTest/obj/StorageAccountAccessTest.csproj.nuget.dgspec.json
/DogBot/StorageAccountAccessTest/obj/StorageAccountAccessTest.csproj.nuget.g.props
/DogBot/StorageAccountAccessTest/obj/StorageAccountAccessTest.csproj.nuget.g.targets
*.wsuo
/azure-bot-clearstep-integration/obj
/azure-bot-clearstep-integration/bin/Debug/net6.0
/azure-bot-clearstep-integration/.vs/Custom-Dialogs
/DogBot/.vscode/settings.json
